<% include partials/header %>
<div class="row" style="margin-top:30px">
<div class="col-md-10" style="padding:20px;border:3px solid black;margin:auto">
  <h1 style="text-align:center"><%= blog.title %></h1>
  <h4 style="text-align:center">By:<%= blog.author.username %></h4>

  <p style="width:80%;margin:auto;"><%= blog.content %></p>
  <% if(blog.likes.indexOf(currentUser._id)==-1){ %>
  <button class="btn btn-success like" data-test-value="1" style="margin:10px 47%;width:6%">Like</button>
  <% }else{ %>
    <button class="btn btn-danger like" data-test-value="0" style="margin:10px 47%;width:6%">Unlike</button>
    <% } %>
</div>
</div>
 <% var bj = {currentUser:currentUser,b_id:blog._id};var st = JSON.stringify(bj); %>
<div id="com" class="col-md-10" style="padding:20px;border:3px solid black;margin:30px auto" data-test-value="<%= st %>">
  <input id="inst" type="text" class="form-control" style="margin:20px auto" placeholder="Write a Comment">
  <% blog.comments.forEach(function(comment){ %>
    <div class="col-md-10" style="padding:10px;border:1px solid black;margin:5px auto">
      <h4 style="text-align:center"><%= comment.author.username %></h1>
      <h5 style="text-align:center"><%= comment.text %></h4>
    </div>
  <% })%>
</div>

<% include partials/footer %>
